
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
    <style>
        input[type=button], input[type=submit], input[type=reset] {
            background-color:black;
            border: none;
            color: whitesmoke;
            padding: 16px 32px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div> 
        <form action="Submit" method="post">
            <center>
                Username :
                <br />
                <input id="Text1" name="UserName" type="text" />
                <br />
                Password :
                <br />
                <input id="Text1" name="Password" type="text" />
                <br /><br />
                <input id="submit" type="submit" value="Login" />
            </center>

        </form>
    </div>
</body>
</html>
