@model Cinema_WebSite.Models.UsersLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintDetails</title>
    <style>
    body { background-image: url('https://cdn.artphotolimited.com/images/5b9fc1ecac06024957be8806/700x700/charlie-chaplin-dans-les-temps-modernes.jpg'); 
           margin: 0; }

        input[type=submit] {
            background-color: black;
            border: none;
            color: whitesmoke;
            padding: 12px 15px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }

        left {
            
            float:left;
            text-align: left;
        }

        center {
            height: 200px;
            text-align: center;
        }

        aside {
            float: right;
            padding: 1em;
            height: 900px;
            width: 35%;
            background-color: white;
        }
    </style>
</head>
<body>
    <div>
        <aside>
            <center>
                <FONT size="15" face="Berlin Sans FB">CinemaCity</FONT>
                <br /><br /><br />

                            <form action="Submit" method="post">
                                Sign into your CinemaCity account<br />
                                <br /><br />

                                <b><FONT face="Candara" style="margin-right: 125px; margin-top: 0px;">LOGIN</FONT></b>
                                <br />

                                <input id="Text1" name="UserName" type="text" />
                                <br /><br />


                                <b><FONT face="Candara" style="margin-right: 85px; margin-top: 0px;">PASSWORD</FONT></b>
                                <br />
                                <input id="Text1" name="Password" type="text" />
                                <br /><br />


                                <input id="submit" type="submit" value="Sign in" />
                                <br /><br />

                                Don't have an account?
                                @Html.ActionLink(
                                    linkText: "    Click Here",
                                    actionName: "SignUp",
                                    controllerName: "Login"
                                    )



                            </form>
            </center>

        </aside>

    </div>
</body>
</html>

<! <center>
    Username : @Model.UserName
    <br />
    Password : @Model.Password
</center>
>

