@model Cinema_WebSite.Models.UsersLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
    <style>
        body {
            background-image: url('https://cdn.artphotolimited.com/images/5b9fc1ecac06024957be8806/700x700/charlie-chaplin-dans-les-temps-modernes.jpg');
            margin: 0;
        }


  


        aside {
            
            padding: 1em;
            height: 900px;
            width: 35%;
            background-color: white;
        }


    </style>
</head>
<body>
    <div>
        <aside>
            <center>
                gfgsfgsfg
            </center>

        </aside>
           

    </div>
</body>
</html>