
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
</head>
<body>
    <div> 
        <center><h3> Sign upppppppppppppppp </h3></center>  
    </div>
</body>
</html>
