
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClientHome</title>
    <style>
    body { background-image: url('https://www.spreadfamily.fr/wp-content/uploads/2017/08/livre-blanc-connaissance-client.jpg'); margin: 0; padding: 0; font-family: sans-serif; background-size: cover; background-position: center; }
    </style>



</head>
<body>
    <div>
        <h1>Client Home !!!!!</h1>
    </div>
</body>
</html>

