@model Cinema_WebSite.ModelView.CineViewModel
@using Cinema_WebSite.Models

@{
    ViewBag.Title = "AdministratorHome";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdministratorHome</title>
    <style>
        body {
            background-image: url('https://www.telegramdownload.com/wp-content/uploads/2015/12/telegram-messenger-admins.jpg');
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-size: cover;
            background-position: center;
        }


        .navbar {
            overflow: hidden;
            background-color: #333;
            font-family: Arial;
            opacity: .8;
            text-align: center;
        }

            /* Links inside the navbar */
            .navbar a {
                float: left;
                font-size: 20px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        /* The dropdown container */
        .dropdown {
            float: left;
            overflow: hidden;
        }

            /* Dropdown button */
            .dropdown .dropbtn {
                font-size: 20px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit; /* Important for vertical align on mobile phones */
                margin: 0; /* Important for vertical align on mobile phones */
            }

            /* Add a red background color to navbar links on hover */
            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: red;
            }

        /* Dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Links inside the dropdown */
            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                font-size: 16px;
            }

                /* Add a grey background color to dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }


        
        .container {
            height: 200px;
            position: relative;
            border: 3px solid green;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }


    </style>



</head>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>







<body>
    <div>

            <div class="center">
                @using (Html.BeginForm("Submit1", "Administrator", FormMethod.Get))
                {
                    <button>Manage Movies</button>
                }
                <br />
                @using (Html.BeginForm("ManageHalls", "Administrator", FormMethod.Get))
                {
                    <button>Manage Halls</button>
                }

                </div>
            </div>

           
</body>
</html>

