
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdministratorHome</title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
        }

        a {
            text-decoration: none;
            color: black;
            display: block;
            padding: 20px 5px;
            color: white;
        }

        body {
            font-family: Arial;
            background: url('/images/background_cine.jpg');
            background-size: 100%;
        }

        ul {
            top: 50px;
            position: absolute;
            width: 100%;
        }

        img {
            width: 40px;
        }

        input[type="checkbox"] {
            display: none;
        }

        nav {
            background-color: rgba(16,16,16,.5);
            width: 350px;
            height: 100%;
            position: absolute;
            left: -350px;
            transition: all .5s;
        }

        input[type="checkbox"]:checked ~ nav {
            transform: translateX(350px);
        }

        a:hover {
            background-color: rgba(176,224,230);
            color: black;
        }

        label {
            padding: 15px;
            position: absolute;
            z-index: 1;
        }
    </style>
</head>



<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>



<body>
    <input type="checkbox" id="chec">
    <label for="chec">
        <img src="~/images/risco_menu.png" />
    </label>


    <nav>
        <ul>
            <li><a href="@Url.Action("ManageMovies","Administrator")">MANAGE MOVIES</a></li>
            <li><a href="@Url.Action("ManageHalls","Administrator")">MANAGE HALLS</a></li>
            <li><a href="@Url.Action("ManagePrices","Administrator")">MANAGE PRICES</a></li>


        </ul>
    </nav>
</body>
</html>
