
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdministratorHome</title>
    <style>
        body {
            background-image: url('https://image.freepik.com/free-photo/top-view-arrangement-of-cinema-elements-on-yellow-background-with-copy-space_23-2148416777.jpg');
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background-size: cover;
            background-position: center;
        }

    </style>



</head >
    <body >
        <div >
        
        </div >
    </body >
</html >

