

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteMovies</title>
</head>
<body>
    <div>




        <br />
        <i>Select the movie you want to delete :</i>

       
    
      @Html.DropDownList("Title", ViewBag.list_titles as SelectList,"Select Title")








    </div>
</body>
</html>
