
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManagePrices</title>
    <style>
        body {
            background: url('/images/background_cine.jpg');
            background-size: 100%;
        }
    </style>
</head>
<body>
    <div> 
        <h1>Manage Prices</h1>
    </div>
</body>
</html>
