@model Cinema_WebSite.ModelView.CineViewModel
@using Cinema_WebSite.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManagePrices</title>
    <style>
        body {
            background: url('/images/background_cine.jpg');
            background-size: 100%;
        }
    </style>
</head>
<body>
    <div>
        <h1>Manage Prices</h1>

        @using (Html.BeginForm("SavePrice", "Administrator", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div style="margin-left: 20px">



                <br />
                <i>Title Movie :</i>
                @Html.TextBoxFor(x => x.MVMovie.Title, new { placeholder = "Title", @class = "input-box", @id = "Text1", @type = "text" })
                <br />@Html.ValidationMessageFor(x => x.MVMovie.Title, "", new { @class = "error" })
                <br />




                <i>Price :</i>
                @Html.TextBoxFor(x => x.MVMovie.Price, new { placeholder = "Price", @class = "input-box", @id = "Text1", @type = "text" })
                <br />@Html.ValidationMessageFor(x => x.MVMovie.Price, "", new { @class = "error" })
                <br />

                <br />
                <input id="submit1" type="submit" class="sign-btn" value="Save">
                <hr />
            </div>
        }
    </div>
</body>
</html>
